/*
ue
#017ba9 lightblue text
#faebd7 faded white text/btn
#dbe3e6 background white
#151515 background black
*/




header{
height: auto;
}
.price-hero{
    width: 100vw;
    height: 50vh;
    background:#151515 url("../image/pic5.jpg");
    background-blend-mode:overlay;
    background-size: cover;
    /* -webkit-background-clip:; */
}
.price-company-name{
    width: 100%;
    height: 70%;
    margin: auto;
    display: flex;
    justify-content:center;
    align-items: flex-end;
}
.price-title{
    width: auto;
}
.price-hero-title-nbr{
    width:10em;
}
.price-moto{
    margin-top: 1rem;
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
}
.single-price-box{
    width: 100%;
    height: 100vh;
    /* background: ; */
    margin-top: 100px;
}
.price-box-title{
    text-transform: uppercase;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
 
}
.box-toggle{
    font-size: 1.5rem;
    width:3rem;
    height: 3rem;
    color: #017ba9;
    border: 3px solid  #017ba9;
    border-radius: 50%;
    background: #dbe3e6;
}
.box-name{
    width: auto;
    height: auto;
    border: 3px solid  #017ba9;
    background: #dbe3e6;
    padding: 1rem;
    border-radius: 20px;
}
hr{
    position: relative;
    top: -2rem;
    border: none;
    background:#017ba9;
    width:100%;
    height:3px;
    z-index: -1;
    margin-bottom: 8em;
/*    might change this one*/
}
























